*{
  margin: 0;
}
.head{
  height: 10vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  color: blueviolet;
  text-align: center;
  align-items: center;
  margin-bottom: 5vh;
}
.datetime{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  height: 10vh;
  width: 80%;
  flex-wrap: wrap;
   justify-content: space-between;
  
}
.icon{
  color: blueviolet;
  margin-right: 5%;
}
.time {
height: 5vh;
border-radius: 5px;
border:1px solid #b2beb5;
width:20%
}
.date{
  height: 5vh;
border-radius: 5px;
border:1px solid #b2beb5;
width:20%
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input{
  margin-bottom: 3%;
}
.custom-file-input::before {
  content: 'Attach image';
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  color: blueviolet;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  -webkit-user-select: none;
  font-size: 10pt;
}
.frm{
  margin: 2% 5% 2% 5%;
}
.frm ul{
  list-style:none;
	padding:0;
	margin:0;	
}
.frm li{
  display: block;
	margin-bottom: 30px;
	border-radius: 3px;
}
.frm li>label{
  display: block;
	float: left;
	margin-top: -30px;
	background: #FFFFFF;
	height: 25%;
	padding: 2px 5px 2px 5px;
	color:blueviolet;
	font-size: 20px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;

}
.frm input[type="text"]{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	height: 7vh;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
  

}
.frm input[type="text"]:focus{
   border: 3px solid blueviolet;
}
button{
background-color: blueviolet;
height: 7vh;
width: 100%;
color: white;

}
.balance{
  display: flex;
  margin: 2% 5% 2% 5%;
  width:90%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
  border: 2px solid #b2beb5;

}
.tb{
  margin: 2% 5% 2% 5% !important;
  width: 90% !important;
}